@import "styles.scss";

.display-card {
  display: flex;
  flex-direction: column;
}

.banner-location {
  display: block;

  img {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
  }
}

.container-fiche {
  display: flex;
  flex-direction: column;
}

.fiche-sup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;

  h1 {
    font-size: 36px;
    font-weight: 500;
    color: $primary-color;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    color: $primary-color;
  }

  .tags {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      background-color: $primary-color;
      color: white;
      border-radius: 10px;
      margin-right: 20px;
      padding: 5px 20px 5px 20px;
    }
  }
}

.fiche-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.name-picture {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;

  p {
    white-space: pre-line;
    word-wrap: break-word;
    text-align: right;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: $primary-color;
    padding-right: 10px;
  }

  img {
    width: 64px;
    border-radius: 50%;
  }
}

.star {
  font-size: 16px;
  margin-right: 8px;
  display: inline-block;
}

.active-star {
  color: $primary-color;
}

.inactive-star {
  color: #e3e3e3;
}

// partie inferieure

.fiche-inf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 40px;

  .specificities {
    display: block;
    width: 582px;
    margin-bottom: 25px;
  }

  .container-title {
    display: block;
    background-color: $primary-color;
    border-radius: 5px;

    h2 {
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0px;
      color: #fff;
      font-size: 24px;
      font-weight: 500;
    }

    p {
      background-color: rgb(251, 239, 239);
      color: $primary-color;
      padding: 20px;
      margin-top: 0;
      font-size: 18px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
