* {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

.display-card {
  display: flex;
  flex-direction: column;
}

.banner-location {
  display: block;
}
.banner-location img {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}

.container-fiche {
  display: flex;
  flex-direction: column;
}

.fiche-sup {
  display: flex;
}
.fiche-sup h1 {
  font-weight: 500;
  color: #ff6060;
  padding-bottom: 10px;
}
.fiche-sup h2 {
  font-weight: 500;
  color: #ff6060;
}
.fiche-sup .tags {
  display: flex;
  flex-direction: row;
}
.fiche-sup .tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.fiche-sup .tags li {
  border-radius: 10px;
  margin-right: 20px;
  background-color: #ff6060;
  color: white;
  text-align: center;
}

.fiche-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.name-picture {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}
.name-picture p {
  white-space: pre-line;
  word-wrap: break-word;
  text-align: right;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: #ff6060;
  padding-right: 10px;
}
.name-picture img {
  border-radius: 50%;
}

.star {
  font-size: 16px;
  margin-right: 8px;
  display: inline-block;
}

.active-star {
  color: #ff6060;
}

.inactive-star {
  color: #e3e3e3;
}

@media (min-width: 768px) {
  .fiche-sup {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .fiche-sup h1 {
    font-size: 36px;
  }
  .fiche-sup h2 {
    font-size: 18px;
  }
  .fiche-sup .tags {
    margin-top: 30px;
  }
  .fiche-sup .tags li {
    border-radius: 10px;
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
  }
  .name-picture img {
    width: 64px;
  }
}
@media (min-width: 560px) and (max-width: 767px) {
  .fiche-sup {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .fiche-sup h1 {
    font-size: 24px;
  }
  .fiche-sup h2 {
    font-size: 18px;
  }
  .fiche-sup .tags {
    margin-top: 30px;
  }
  .fiche-sup .tags li {
    border-radius: 10px;
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
  }
  .fiche-sup .name-picture {
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
  }
  .fiche-sup .name-picture p {
    white-space: pre-line;
    word-wrap: break-word;
    text-align: right;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #ff6060;
    padding-right: 10px;
  }
  .fiche-sup .name-picture img {
    width: 48px;
  }
  .fiche-sup .star {
    font-size: 11px;
    margin-right: 4px;
    display: inline-block;
  }
  .fiche-sup .active-star {
    color: #ff6060;
  }
  .fiche-sup .inactive-star {
    color: #e3e3e3;
  }
}
@media (max-width: 559px) {
  .display-card {
    padding: 0px 20px 0px 20px;
  }
  .banner-location img {
    height: 255px;
    border-radius: 10px;
  }
  .fiche-sup {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
  }
  .fiche-sup h1 {
    font-size: 18px;
  }
  .fiche-sup h2 {
    font-size: 14px;
  }
  .fiche-sup .tags {
    margin-top: 15px;
  }
  .fiche-sup .tags li {
    border-radius: 5px;
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
  }
  .fiche-right {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .fiche-right .name-picture {
    width: 100px;
    order: 2;
  }
  .fiche-right .name-picture p {
    font-size: 12px;
    line-height: 15px;
  }
  .fiche-right .name-picture img {
    width: 36px;
  }
  .fiche-right .star {
    font-size: 13px;
    margin-right: 5px;
  }
}
@media (min-width: 560px) {
  .fiche-inf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    min-height: 200px;
    gap: 10px;
  }
  .fiche-inf .specificities {
    display: block;
    width: 250px;
    width: 100%;
    margin-bottom: 25px;
  }
}
@media (max-width: 559px) {
  .fiche-inf {
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 50px;
  }
  .fiche-inf .specificities {
    width: 100%;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=fiche.css.map */
