@import "styles.scss";

/* Bannière Home Page */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  background-color: black;

  img {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.7;
  }

  h1 {
    position: absolute;
    color: #fff;
    font-weight: 500;
  }
}

// Responsive
@media (min-width: 1024px) {
  .banner {
    height: 223px;
    border-radius: 25px;

    img {
      top: -300px;
    }

    h1 {
      font-size: 48px;
      text-align: center;
    }
  }
}

@media (min-width: 560px) and (max-width: 1023px) {
  .banner {
    height: 140px;
    border-radius: 10px;

    img {
      top: -180px;
    }

    h1 {
      font-size: 30px;
      text-align: left;
      padding-left: 20px;

      span {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 559px) {
  .banner {
    height: 111px;
    border-radius: 10px;

    img {
      top: -40px;
    }

    h1 {
      font-size: 24px;
      text-align: left;
      padding-left: 20px;

      span {
        display: inline-block;
      }
    }
  }
}

/* Affichage des locations sur la home page */
.show-cards {
  display: grid;
  background-color: $bg-secondary;
  border-radius: 25px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 30px;
  padding: 30px;
}

.show-card {
  position: relative;
  width: 100%;
  height: 340px; /* Hauteur fixe pour chaque carte dans la résolution 1240px et plus */
  min-height: 340px; /* Hauteur minimale pour s'assurer que la hauteur reste à 340px */
  box-sizing: border-box; /* Ajuster la boîte pour inclure le padding et la bordure dans la hauteur spécifiée */

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    background: rgb(255, 96, 96);
    background: linear-gradient(
      180deg,
      rgba(255, 96, 96, 1) 0%,
      rgba(212, 73, 73, 1) 65%,
      rgba(143, 68, 68, 1) 100%
    );
  }

  .title {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);

    p {
      margin: 5px 10px 10px 10px;
      color: rgb(255, 255, 255);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// Responsive
@media (max-width: 559px) {
  .show-card {
    height: auto;
  }
}
