//sass --watch about.scss:about.css error.scss:error.css fiche.scss:fiche.css footer.scss:footer.css header.scss:header.css home.scss:home.css layout.scss:layout.css styles.scss:styles.css

@import "about.css";
@import "error.css";
@import "fiche.css";
@import "footer.css";
@import "header.css";
@import "home.css";
@import "styles.css";

html,
body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  background-color: white;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

//Responsive
@media (min-width: 1240px) {
  .main {
    width: 1240px;
    min-height: 600px;
  }
}

@media (max-width: 1239px) {
  .main {
    max-width: 1239px;
    min-height: 400px;
    padding: 0px 20px 0px 20px;
  }
}
